.HeroComponent{
    height: calc(100vh - 80px);
    .heroSlider{
        height: calc(100vh - 80px);
        position: relative;
        .swiper-slide{
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
            button{
                position: absolute;
                // bottom: -100%;
                left: 50%;
                bottom: 6%;
                transform: translateX(-50%);
                background-color: #c69938;
                color: white;
                border: none;
                padding: 10px 70px;
                border-radius: 8px;
                cursor: pointer;
                transition: all 0.5s ease;
                opacity: 0;
                &:hover{
                    background-color: white;
                    color: #c69938;
                }
            }
            &-visible{
                button{
                    opacity: 1;
                    // bottom: 5%;
                    transition: all 0.5s ease;
                }
            }
        }
        .swiper-button-next,
        .swiper-button-prev{
            color: #f1c40f;
        }
        .swiper-pagination{
            .swiper-pagination-bullet{
                width: 10px;
                height: 10px;
                background-color: white;
                transition: all 0.4s ease;
                &-active{
                    transition: all 0.4s ease;
                    background-color: #f1c40f;
                    width: 18px;
                    border-radius: 8px;
                }
            }
        }
    }
}