.StrokeTitle{
    font-size: clamp(2rem, -1.036rem + 8.095vw, 6.25rem);
    color: rgb(120, 120, 120);
    font-weight: 800;
    margin: 0;
    padding-block: 25px;
    text-align: center;
    letter-spacing: 5px;
    &.transparent{
        color: white;
        text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
        -webkit-text-stroke: 2px rgb(110, 110, 110);
        opacity: 0.7;
    }
    &.normal{
        color: #c69938;
        font-size: clamp(1.5rem, 0.518rem + 2.619vw, 2.875rem);
        text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
    }
}